<%- form_tag search_results_path, :method => :get do -%>

<p class="error">If you would prefer a complete list of locations, please use <a href="/locations">this link</a>.</p>

<fieldset id="keywords">
  <legend>Enter some keywords to begin your search</legend>
  <label for="keyword_box">Search: </label>
  <%= text_field_tag 'q', '', :size => 60 %>
  <%= submit_tag 'Search Now' %>
</fieldset>


<fieldset>
  <legend>Limit by Distance</legend>
  <p>Enter an address below to limit to locations within 2 miles.</p>
  <p><em>(eg. 1234 Lake Drive SE, Grand Rapids, MI 49506)</em></p>
  
  <label for="address">Address: </label>
  <%= text_field 'location', 'address', :size => 60 %>
</fieldset>

<fieldset>
  <legend>Limit by Cost</legend>
  <p>Please check this box if you want to limit your search to free-to-use hotspots.</p>
  <p><label for="free">Free-to-use only: </label> <%= check_box 'location', 'free' %></p>
</fieldset>



<fieldset id="zipfields">
  <legend>Limit by Zip Code</legend>

  <p>Selecting a zip code from the options below will restrict your search to locations in that zip code. If a zip code is not listed it means we do not currently have any locations listed in that area.</p>
  <label for="zip_code">Zip Code: </label>
  <%= collection_select 'location', 'zip', Location.zip_codes, 'zip', 'zip', {:prompt => '--select--' }%>
</fieldset>

<fieldset>
  <legend>Format</legend>
  <p>How would you like to view your results?</p>
  <%= radio_button_tag 'format', 'text' %> Standard <%= radio_button_tag 'format', 'map' %> Map
</fieldset>

<p><%= submit_tag 'Search' %></p>
<%- end -%>

<% content_for :extra_headers do %>
  <style type="text/css" media="screen">
    fieldset {
      margin-bottom: 1.5em;
    }
    legend {
      font-weight: bold;
    }
  #flash_notice {
    background-color: red;
    font-weight: bold;
    margin-bottom: 1.5em;
    padding: 0.5em;
  }
  </style>
<% end %>