<h2>Your Search Results</h2>

<% if @locations and @locations.any? %>
  <p>(<em><%= link_to 'View These Results On A Map', params.merge(:format => :map) %></em>)</p>

  <% if @locations.respond_to?(:total_pages) %>
    <%= page_entries_info @locations %>
  <% end %>
  
  <ul id="hotspot-list">
    <%= render :collection => @locations, :partial => 'locations/location' %>
  </ul>
  
  <% if @locations.respond_to?(:total_pages) %>
    <%= will_paginate @locations %>
  <% end %>
<% end %>

<% content_for :extra_headers do %>
<style type="text/css" media="screen">
  #flash_notice {
    color: red;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
</style>
<%= auto_discovery_link_tag :atom, params %>
<% end %>