<div id="navigation">
    <p><img src="/images/wifi.gif" alt="Black and white WiFi sybmol" /></p>
    <p>Opportunities for wireless internet access are fast increasing. Grand Rapids WiFi (grwifi.net) provides details of (mostly) free wireless hotspots in Grand Rapids, MI.</p>
    <hr />
    <ul>
      <li>
        <h3>about grwifi</h3>
        <ul>
            <li><%= link_to 'news', stories_path %></li>
            <li><%= link_to 'background', about_path %></li>
            <li><%= link_to 'local links', links_path %></li>
        </ul>
      </li>
      <li>
        <h3>take part</h3>
        <ul>
            <li><%= link_to 'submit hotspot', new_submission_path %></li>
            <li><%= link_to 'using wifi', help_path %></li>
        </ul>
      </li>
      <li>
        <h3><%= link_to image_tag('/images/feed-icon-16x16.png', :alt => 'XML feed'), root_path(:format => :atom) %> feeds</h3>
        <ul>
            <li><%= link_to 'What is this?', feeds_info_path %></li>
            <li><%= link_to image_tag('/images/atompixel.png', :alt => 'Atom Feed'), root_path(:format => :atom) %></li>
            <li><%= link_to image_tag('/images/rss1.gif', :alt => 'RSS 1 Feed'), root_path(:format => :rdf) %></li>
       </ul>
      </li>
    </ul>

		<% if Rails.env.production? %>
     <iframe src="http://rcm.amazon.com/e/cm?t=jystewartnet-20&amp;o=1&amp;p=11&amp;l=bn1&amp;mode=pc-hardware&amp;browse=13900871&amp;fc1=000000&amp;lt1=&amp;lc1=3366FF&amp;bg1=FFFFFF&amp;f=ifr" marginwidth="0" marginheight="0" width="120" height="600" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
		<% end %>
</div>