<div id="navigation">
    <p><img src="/images/wifi.gif" alt="Black and white WiFi sybmol" /></p>
    <p>Opportunities for wireless internet access are fast increasing. Grand Rapids WiFi (grwifi.net) provides details of (mostly) free wireless hotspots in Grand Rapids, MI.</p>
    <hr />
    <ul>
      <li>
        <h3>about grwifi</h3>
        <ul>
            <li><%= link_to 'news', stories_path %></li>
            <li><%= link_to 'background', about_path %></li>
            <li><%= link_to 'local links', links_path %></li>
        </ul>
      </li>
      <li>
        <h3>take part</h3>
        <ul>
            <li><%= link_to 'submit hotspot', new_submission_path %></li>
            <li><%= link_to 'using wifi', help_path %></li>
        </ul>
      </li>
      <li>
        <h3><%= link_to image_tag('/images/feed-icon-16x16.png', :alt => 'XML feed'), root_path(:format => :atom) %> feeds</h3>
        <ul>
            <li><%= link_to 'What is this?', feeds_info_path %></li>
            <li><%= link_to image_tag('/images/atompixel.png', :alt => 'Atom Feed'), root_path(:format => :atom) %></li>
            <li><%= link_to image_tag('/images/rss1.gif', :alt => 'RSS 1 Feed'), root_path(:format => :rdf) %></li>
       </ul>
      </li>
    </ul>

		<% if Rails.env.production? %>
     <p><script type="text/javascript" src="http://embed.technorati.com/embed/dzdzsz6zf4.js"> </script></p>
     <!--[if IE]>
     <p><script type="text/javascript">
     google_ad_client = "pub-1641482391477505";
     google_ad_width = 125;
     google_ad_height = 125;
     google_ad_format = "125x125_as_rimg";
     google_cpa_choice = "CAAQ2fyXhAIaCAtvhjP7CpzqKK2293M";
     </script>
     <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
     </script></p><![endif]-->
     <% if request.path_parameters['controller'] != 'welcome' %>
     <script type="text/javascript"><!--
     google_ad_client = "pub-1641482391477505";
     google_ad_width = 120;
     google_ad_height = 600;
     google_ad_format = "120x600_as";
     google_ad_type = "text_image";
     google_ad_channel ="6032470092";
     google_color_border = "CCCCCC";
     google_color_bg = "CCCCCC";
     google_color_link = "000000";
     google_color_text = "333333";
     google_color_url = "666666";
     //--></script>
     <script type="text/javascript"
       src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
     </script>
     <% end %>
		<% end %>
</div>