<%= error_messages_for 'story' %>

<p><label for="story_headline">Headline</label><br/>
<%= text_field 'story', 'headline'  %></p>

<p><label for="story_content">Content</label><br/>
<%= text_area 'story', 'content'  %></p>

<p><label for="story_external">External</label><br/>
<%= text_field 'story', 'external'  %></p>

<p><label for="story_author">Author</label><br/>
<%= text_field 'story', 'author'  %></p>

<p><label for="story_created_at">Created At</label><br/>
<%= datetime_select 'story', 'created_at'  %></p>

<p><label for="story_extended">Extended</label><br/>
<%= text_area 'story', 'extended'  %></p>

<p><label for="story_permalink">permalink</label><br/>
<%= text_field 'story', 'permalink'  %></p>

