<%= error_messages_for 'location' %>

<!--[form:location]-->
<p><label for="location_name">Name</label><br/>
<%= form.text_field 'name'  %></p>

<p><label for="location_street">Street</label><br/>
<%= form.text_field 'street'  %></p>

<p><label for="location_city">City</label><br/>
<%= form.text_field 'city'  %></p>

<p><label for="location_state">State</label><br/>
<%= form.text_field 'state'  %></p>

<p><label for="location_zip">Zip</label><br/>
<%= form.text_field 'zip'  %></p>

<p><label for="location_country">Country</label><br/>
<%= form.text_field 'country'  %></p>

<p><label for="location_description">Description</label><br/>
<%= text_area 'location', 'description'  %></p>

<p><label for="location_url">Url</label><br/>
<%= form.text_field :url  %></p>

<p><label for="location_status">Status</label><br/>
	<%= form.select :status, [['proven', 'proven'], ['closed', 'closed'], ['rumored', 'rumored']] %></p>

<p><label for="location_visibility">Visibility</label><br/>
<%= form.text_field :visibility  %></p>

<p><label for="location_email">Email</label><br/>
<%= form.text_field :email  %></p>

<p><label for="location_permalink">Permalink</label><br/>
<%= form.text_field :permalink  %></p>

<p><label for="location_ssid">SSID</label><br/>
<%= form.text_field :ssid  %></p>

<p><label for="location_free">Free</label><br/>
	<%= form.select :free, %W(false true) %></p>

<p><label for="location_phone_number">Phone number</label><br/>
<%= form.text_field :phone_number %></p>

<h2>Neighbourhoods</h2>

<%- setup_neighbourhoods -%>
<%- @location.neighbourhoods.each_with_index do |neighbourhood, index| -%>
	<p><%= select_neighbourhood(@location, index) %></p>
<%- end -%>

<h2>Openings</h2>

<ul id="opening-times">
	<% form.fields_for :openings do |openings_form| %>
    <li>
      <%= openings_form.select :opening_day, %w(monday tuesday wednesday thursday friday saturday sunday) %>
      <%= openings_form.time_select :opening_time, :minute_step => 15, :ignore_date => true, :include_seconds => false %>
      to 
      <%= openings_form.select :closing_day, %w(monday tuesday wednesday thursday friday saturday sunday) %>
      <%= openings_form.time_select :closing_time, :minute_step => 15, :ignore_date => true, :include_seconds => false %>
    </li>
  <%- end -%>
</ul>

<%- content_for :javascript do -%>
<%= javascript_include_tag 'jquery', 'new-time' %>
<%- end -%>

<!--[eoform:location]-->

