<%= error_messages_for 'location' %>

<%= f.inputs :name, :street, :city, :state, :zip, :country, :email, :phone_number %>

<%= f.inputs do %>
  <%= f.input :description %>
  <%= f.input :free %>
  <%= f.input :url %>
  <%= f.input :ssid %>
  <%= f.input :status, :collection => [['proven', 'proven'], ['closed', 'closed'], ['rumored', 'rumored']] %>
  <%= f.input :is_visible %>
<% end %>

<h2>Neighbourhoods</h2>

<%= f.inputs do %>
  <%= f.input :neighbourhood_ids, :collection => Neighbourhood.all, :as => :check_boxes %>
<% end %>

<h2>Openings</h2>

<%= form.inputs :name => 'Openings', :id => 'openings' do %>
  <%= form.add_associated_link "+ Opening", :openings, :partial => 'opening' %>
  <%= raw form.render_associated_form :openings, :partial => 'opening', :new => 1, :edit => 1 %>
<% end %>

<%- content_for :javascript do -%>
<%= javascript_include_tag 'jquery' %>
<%- end -%>

<!--[eoform:location]-->

