<h2>Editing location <%= @location.name %></h2>

<%- form_for(@location) do |form| -%>
  <%= render form %>
  <%= submit_tag 'Edit' %>
<%- end -%>

<p><%= link_to 'Show', @location %> |
<%= link_to 'Back', :action => 'list' %></p>

