<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <%= javascript_include_tag 'jquery' %> 
  <%= stylesheet_link_tag 'admin', 'formtastic', 'formtastic_changes', :cache => 'all-admin' %>
  <%= yield :javascript %>
</head>
<body>
  <div id="container">
    <div id="app-header">
      <h1><%= SITE_NAME %> <%= link_to 'Admin', admin_path %></h1>
      <div role="navigation">
        <% if administrator_signed_in? %>
          <ul class="navigation">
            <li><%= link_to 'Admin Home', admin_path %></li>
            <li><%= link_to 'Comments', comments_path %></li>
            <li><%= link_to 'Locations', list_locations_path %></li>
            <li><%= link_to 'News', stories_path %></li>
            <li><%= link_to 'Sign out', destroy_administrator_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div id="main-content">
      <div id="content-area">
        <% flash.each do |key, value| -%>
          <p class="<%= k %> flash-<%= k %>"><%= v %></p>
        <% end -%>

        <%= yield %>
      </div>
    </div>
    <div id="footer">
      &copy; 2010 <a href="http://www.ketlai.co.uk">Ket Lai Ltd</a>.
    </div>
    <%= yield :extra_javascript %>
  </body>
</html>
