<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <%= javascript_include_tag 'jquery' %> 
  <%= stylesheet_link_tag 'scaffold', 'admin', :cache => true %>
  <%= yield :javascript %>
</head>
<body>

  <h1><%= SITE_NAME %> <%= link_to 'Admin', admin_path %></h1>
  <ul id="admin-navigation">
    <li><%= link_to 'Admin Home', admin_path %></li>
    <li><%= link_to 'Comments', comments_path %></li>
    <li><%= link_to 'Locations', list_locations_path %></li>
    <li><%= link_to 'News', :controller => 'news' %></li>
    <li><%= link_to 'Logout', sign_out_path %></li>
  </ul>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div class="flash" id="flash_<%= key -%>"><%= html_escape(value) %></div>
    <% end -%>
  </div>

  <%= yield %>

</body>
</html>
