<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head profile="http://www.w3.org/2006/03/hcard">
  <%= stylesheet_link_tag 'basic', 'formtastic', :cache => 'standard' %>
  <%= auto_discovery_link_tag :atom, stories_url(:format => :atom), {:title => 'News Story Atom Feed'} %>
  <%= yield :extra_headers %>

  <title><% title = yield :page_title %> <%= title || "#{SITE_NAME}: Wireless Hotspots in Grand Rapids Michigan" %></title>
</head>
<body>

  <div id="container">
      <h1><%= link_to image_tag('grwifi.png', :alt => "#{SITE_NAME} Logo"), '/' %></h1>

      <div id="searchbox"><%= render :partial => 'shared/searchbox' %></div>

      <div id="content">
        <div id="flash">
          <% flash.each do |key, value| -%>
            <div class="flash <%= key %>" id="flash_<%= key -%>"><%= value %></div>
          <% end -%>
        </div>
        
        <%= yield %>
      </div>

      <%= render :partial => 'shared/navigation' %>
  </div>

  <%= google_analytics %>
  <%= javascript_include_tag 'jquery' %>
  <%= yield :javascript %>
</body>
</html>