<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= SITE_NAME %> Search - Find Wireless Hotspots</title>
  <%= stylesheet_link_tag 'basic', 'frontpage', 'formtastic', :cache => 'homepage' %>
	<%= auto_discovery_link_tag :atom, {:controller => 'feed', :action => 'index', :format => 'atom'}, 
			{:title => SITE_NAME + ' Atom Feed'} %>
</head>

<body>

    <h1><img src="/images/grwifi.png" title="<%= SITE_NAME %>" alt="<%= SITE_NAME %> Listings" /></h1>

    <div id="container">
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div class="flash" id="flash_<%= key -%>"><%= html_escape(value) %></div>
        <% end -%>
      </div>
      
      <%= yield %>
      <%= render :partial => 'shared/navigation' %>
    </div>

    <div id="footer">
        <p>Grand Rapids WiFi is developed and maintained by <a href="http://jystewart.net/process/">James Stewart</a>. 
        He is available for hire.</p>
    </div>
    <%= google_analytics %>
</body>
</html>